@model string

<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a asp-controller="Home" asp-action="Index2">Home</a></li>
            <li>@Model</li>
        </ol>
        <h2>@Model</h2>
    </div>
</section>

