@{
    ViewData["Title"] = "Pagalo Todo";
    Layout = "_LayoutPartial";
}

<div class="container-fluid p-4">
    <div class="p-2">
        <a asp-controller="Login" asp-action="Admin" class="btn btn-primary">Admin Login</a>
    </div>
    <div class="p-2">
        <a asp-controller="Login" asp-action="Consumer" class="btn btn-primary">Consumer Login</a>
    </div>
    <div class="p-2">
        <a asp-controller="Login" asp-action="Provider" class="btn btn-primary">Provider Login</a>
    </div>
</div>