@using UCABPagaloTodoWeb.Models.CurrentUser
@{
    ViewData["Title"] = "Pagalo Todo";
}

<div class="text-center">
    @if (CurrentUser.GetUser() != null && CurrentUser.GetUser().UserType == "admin")
    {
        <div>
            ADMINISTRADOR
        </div>
    }
    
    @if (CurrentUser.GetUser() != null && CurrentUser.GetUser().UserType == "consumer")
    {
        <div class="text-center p-3">
            <a asp-controller="Consumer" asp-action="MakePayment" class="btn btn-primary">
                MAKE PAYMENT
            </a>
        </div>
        <div class="text-center p-3">
            <a asp-controller="Consumer" asp-action="GetPayments" asp-route-id="@CurrentUser.GetUser().Id" class="btn btn-primary">
                GET PAYMENTS
            </a>
        </div>
    }
    
    @if (CurrentUser.GetUser() != null && CurrentUser.GetUser().UserType == "provider")
    {
        <div class="text-center p-3">
            <a asp-controller="Provider" asp-action="GetPayments" asp-route-id="@CurrentUser.GetUser().Id" class="btn btn-primary">
                GET PAYMENTS
            </a>
        </div>
        <div class="text-center p-3">
            <a asp-controller="Provider" asp-action="UploadConciliation" asp-route-id="@CurrentUser.GetUser().Id" class="btn btn-primary">
                UPDATE CONCILIATION RESPONSE
            </a>
        </div>
    }
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>