@using UCABPagaloTodoMS.Core.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ServiceRequest

@Html.Partial("InnerPageHeader", "Create Service")
<section class="inner-page">
    <div class="container">
        <form method="post">
        <div class="mb-3">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ServiceType">Tipo</label>
                    <select name="ServiceType" id="ServiceType" asp-items="Html.GetEnumSelectList<ServiceTypeEnum>()" class="form-control"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="ServiceStatus">Status</label>
                    <select name="ServiceStatus" id="ServiceStatus" asp-items="Html.GetEnumSelectList<ServiceStatusEnum>()" class="form-control"></select>
                </div>
                @{
                    List<ProviderModel> providers = ViewBag.Message;
                    IEnumerable<SelectListItem> selectList = providers.Select(p => new SelectListItem
                    {
                        Text = $"{p.Name}",
                        Value = p.Id.ToString()
                    });
                }
                <div class="mb-3">
                    <label asp-for="Provider">Provider</label>
                    <select name="Provider" id="Provider" asp-items="selectList" class="form-control"></select>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-controller="Service" asp-action="Index" class="btn btn-secondary">Back</a>
        </form>
    </div>
</section>


@section Scripts
{   @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

<partial name="_ValidationScriptsPartial"/>