@using UCABPagaloTodoMS.Core.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ServiceRequest

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Create Service</h2>
            <hr>
        </div>
        <div class="mb-3">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ServiceType">Tipo</label>
            <select name="ServiceType" id="ServiceType" asp-items="Html.GetEnumSelectList<ServiceTypeEnum>()"></select>
        </div>
        <div class="mb-3">
            <label asp-for="ServiceStatus">Status</label>
            <select name="ServiceStatus" id="ServiceStatus" asp-items="Html.GetEnumSelectList<ServiceStatusEnum>()"></select>
        </div>
        @{
            List<ProviderModel> providers = ViewBag.Message;
            IEnumerable<SelectListItem> selectList = providers.Select(p => new SelectListItem
            {
                Text = $"{p.Name}",
                Value = p.Id.ToString()
            });
        }
        <div class="mb-3">
            <label asp-for="Provider">Provider</label>
            <select name="Provider" id="Provider" asp-items="selectList"></select>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="Service" asp-action="Index" class="btn btn-secondary">Back</a>
    </div>
</form>

@section Scripts
{   @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

<partial name="_ValidationScriptsPartial"/>